%h1 Board Member Dashboard

- if flash[:alert] == "You do not have access to this committee. Please contact Kelly for access."
  #flashNotice
    = flash[:alert]
.row
  .col-md-6
    #announcements
      %h2 Main Announcements
      #announcement_content
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Date
              %th Title
          %tbody
            - @announcement_list[0..4].each do |announcement|
              %tr
                -if announcement.emergency
                  %td.red= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
                  %td.red= link_to "#{announcement.title}", comment_path(announcement.id)
                -else
                  %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
                  %td= link_to "#{announcement.title}", comment_path(announcement.id)
      - if @is_admin
        = link_to "Add", new_announcement_path(:from => 'dashboard'), :id => :main, :class => "btn btn-small btn-warning"
      - else
        = link_to "Add", new_user_announcement_path, :id => :main, :class => "btn btn-small btn-warning"
      %h2 Committee Announcementss
      #announcement_content
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Date
              %th Title
          %tbody
            - @subcomittee_announcements_list[0..4].each do |announcement|
              %tr
                %td= announcement.updated_at.strftime("%m/%d/%Y %l:%M %p")
                %td= link_to "#{announcement.title} [#{announcement.committee.name}]", comment_path(announcement.id)
      - if @announcement_list.count > 5 or @subcomittee_announcements_list.count > 5
        = link_to "Show All", show_announcements_path, :id => :main, :class => "btn btn-small btn-warning"
        -#= link_to "Show All", show_announcements_path(:categories => [:dashboard, :internal, :executive, :external]), :id => :main, :class => "btn btn-small btn-warning"

  .col-md-6
    %h2
    #calendar
