%h1 Edit "#{@calendar.name}"

.container.well
  #flashNotice= flash[:notice]
  =button_to calendar_index_path, :method => :get, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
    = form_tag edit_calendar_path(@id, @calendar), :method => :put do
      .form-group
        = label :calendar, :name, 'Calendar Name'
        = text_field :calendar, 'name', :value => @calendar.name, class: 'form-control'
      .form-group
        = label :calendar, :link, 'Public ICAL Link'
        = text_field :calendar, 'link', :value => @calendar.link, class: 'form-control'
      = submit_tag 'Update Calendar', class: 'btn btn-success'