%h1 Edit "#{@calendar.name}"

.container.well
  #flashNotice= flash[:notice]
  =button_to calendar_index_path, :method => :get, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
    = form_tag edit_calendar_path(@id, @calendar), :method => :put do
      .form-group
        = label :calendar, :name, 'Calendar Name'
        = text_field :calendar, 'name', :value => @calendar.name, class: 'form-control'
      .form-group
        = label :calendar, :link, 'Public Calendar Address'
        = text_field :calendar, 'link', :value => @calendar.link, class: 'form-control'
      .form-group
        %label Color Option: 
        %select{:name => "calendar[color]", :id => "color", :style=>"max-width:300;"}
          %option{:selected => ("selected" unless @previous!=0), :style => "background-color: #D3D3D3;", :value => "#D3D3D3"} LightGray
          %option{:selected => ("selected" unless @previous!=1), :style => "background-color: #7FFFD4;", :value => "#7FFFD4"} Aquamarine
          %option{:selected => ("selected" unless @previous!=2), :style => "background-color: #0000FF;", :value => "#0000FF"} Blue
          %option{:selected => ("selected" unless @previous!=3), :style => "background-color: #000080;color: #FFFFFF;", :value => "#000080"} Navy
          %option{:selected => ("selected" unless @previous!=4), :style => "background-color: #800080;color: #FFFFFF;", :value => "#800080"} Purple
          %option{:selected => ("selected" unless @previous!=5), :style => "background-color: #FF1493;", :value => "#FF1493"} DeepPink
          %option{:selected => ("selected" unless @previous!=6), :style => "background-color: #EE82EE;", :value => "#EE82EE"} Violet
          %option{:selected => ("selected" unless @previous!=7), :style => "background-color: #006400;color: #FFFFFF;", :value => "#006400"} DarkGreen
          %option{:selected => ("selected" unless @previous!=8), :style => "background-color: 008000;color: #FFFFFF;", :value => "#008000"} Green
          %option{:selected => ("selected" unless @previous!=9), :style => "background-color: #9ACD32;", :value => "#9ACD32"} YellowGreen
          %option{:selected => ("selected" unless @previous!=10), :style => "background-color: #FFA500;", :value => "#FFA500"} Orange
          %option{:selected => ("selected" unless @previous!=11), :style => "background-color: #FF0000;", :value => "#FF0000"} Red
          %option{:selected => ("selected" unless @previous!=12), :style => "background-color: #A52A2A;", :value => "#A52A2A"} Brown
          %option{:selected => ("selected" unless @previous!=13), :style => "background-color: #DEB887;", :value => "#DEB887"} BurlyWood
          %option{:selected => ("selected" unless @previous!=14), :style => "background-color: #F5F5DC;", :value => "#F5F5DC"} Beige
      = submit_tag 'Update Calendar', class: 'btn btn-success'