%h1 User Profiles
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

.container
  %table.table.table-bordered.table-striped
    %tbody
      - @users.each_slice(2) do |users|
        %tr
          %td
            %h3= link_to users[0].name, user_profile_path(users[0].id)
            %p 
              Email: 
              %b #{users[0].email}
            %p 
              Committees:
              - of_committees = [] 
              - users[0].committees.each {|committee| of_committees<<committee.name}
              - of_committees = of_committees.each_slice(2).map(&:first)
              - of_committees = of_committees.map(&:inspect).join(', ')
              - of_committees.gsub!(/"/, '')
              %b #{of_committees}
            %p 
              Board Role: 
              %b #{users[0].board_role}
          %td
            - if not users[1].nil?
              %h3= link_to users[1].name, user_profile_path(users[1].id)
              %p 
                Email: 
                %b #{users[1].email}
              %p 
                Committees:
                - of_committees_ = [] 
                - users[1].committees.each {|committee| of_committees_<<committee.name}
                - of_committees_ = of_committees_.each_slice(2).map(&:first)
                - of_committees_ = of_committees_.map(&:inspect).join(', ')
                - of_committees_.gsub!(/"/, '')
                %b #{of_committees_}
              %p 
                Board Role: 
                %b #{users[1].board_role}