%h1 User Profiles
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

.container
  %table.table.table-bordered.table-striped
    %tbody
      - @users.each_slice(2) do |users|
        %tr
          %td
            %h3= link_to users[0].name, user_profile_path(users[0].id)
            %p 
              Email: 
              %b #{users[0].email}
            %p 
              Committees:
              - committees_0 = [] 
              - users[0].committees.each {|committee| committees_0<<committee.name}
              - committees_00 = committees_0.each_slice(2).map(&:first)              
              - committees_01 = committees_00.map(&:inspect).join(', ')
              - committees_01.gsub!(/"/, '')
              %b #{committees_01}
            %p 
              Board Role: 
              %b #{users[0].board_role}
          %td
            - if not users[1].nil?
              %h3= link_to users[1].name, user_profile_path(users[1].id)
              %p 
                Email: 
                %b #{users[1].email}
              %p 
                Committees:
                - committees_1 = [] 
                - users[1].committees.each {|committee| committees_1<<committee.name}
                - committees_10 = committees_1.each_slice(2).map(&:first)              
                - committees_11 = committees_10.map(&:inspect).join(', ')
                - committees_11.gsub!(/"/, '')
                %b #{committees_11}
              %p 
                Board Role: 
                %b #{users[1].board_role}