%h1 User Profiles
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

.container
  %table.table.table-bordered.table-striped
    %tbody
      - @users.each_slice(2) do |users|
        %tr
          %td
            %h3= link_to users[0].name, user_profile_path(users[0].id)
            %p 
              Email: 
              %b #{users[0].email}
            %p 
              Committees:
              - committees = [] 
              - users[0].committees.each {|committee| committees<<committee.name}              
              - committees = committees.map(&:inspect).join(', ')
              - committees.gsub!(/"/, '')
              %b #{committees}
            %p 
              Board Role: 
              %b #{users[0].board_role}
          %td
            - if not users[1].nil?
              %h3= link_to users[1].name, user_profile_path(users[1].id)
              %p 
                Email: 
                %b #{users[1].email}
              %p 
                Committees:
                - committees = [] 
                - users[1].committees.each {|committee| committees<<committee.name}
                - committees = committees.map(&:inspect).join(', ')
                - committees.gsub!(/"/, '')
                %b #{committees}
              %p 
                Board Role: 
                %b #{users[1].board_role}