.container.text-center
    %h1 #{@user.name}
    %p 
        Email: 
        %b #{@user.email}
    %p 
        Committee: 
        %b #{@user.committee}
    %p 
        Board Role: 
        %b #{@user.board_role}
  
.container.well
    %h2 Personal Information
    %h4 Gender
    %p #{@user.gender}
    %h4 Ethnicity
    %p #{@user.ethnicity}
    
    %h4 About Me
    %p #{@user.about_me}
    
    %h4 Job Information
    %p Current Company: #{@user.current_company}
    %p Current Position: #{@user.current_position}
    
    %h4 Why I Joined Community Grows
    %p #{@user.why_join}
    
    %h4 Areas of Expertise
    %ul
    - @areasOfExpertise.each do |expertise|
        %li #{expertise.name}
    
    %h4 Constituency
    %ul
    - @constituencies.each do |constituency|
        %li #{constituency.name}
    