%h1 #{@user.name}
.container.well
    %h2 Email: #{@user.email}
    %h2 Committee: #{@user.committee}
    %h2 Title: #{@user.committee}
    
    %h2 About Me:
    %p #{@user.about_me}

    %h2 Why I Joined Community Grows:)
    %p #{@user.why_join}

    %h2 Interests and Skills:
    %p #{@user.interests_skills}

