%h1 Document Repository
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

= link_to 'Add new file', new_file_path, :class => "btn btn-success btn-large"
- @categories.each do |category|

  -if not category.hidden?

    %h2= "#{category.name}"
    #document_content
      = render :partial => "documents"
     