%h1 Document Repository
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

= link_to 'Add new file', new_file_path, :class => "btn btn-success btn-large"
- @categories.each do |category|

  -if not category.hidden?

    %h2= "#{category.name}"

    #document_content
      %table.table.table-striped.table-bordered
        %thead.bg-info
          %tr
            %th File name
            %th Updated at
            %th Read Status
        %tbody
          = render :partial => "documents_table", :locals => { :docs => category.documents, :curr_user => @curr_user }
