%h1 Edit "#{@meeting.name}"

.container.well
  #flashNotice= flash[:notice]
  =flash[:errors]
  =button_to meeting_index_path, :method => :get, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br


    .form-group
    = label :meeting, :name, 'Update Meeting Attributes'
    %table.table.table-bordered.table-striped
      #announcement_content
        %tbody
          %tr
            %td
              = form_tag update_meeting_path(@id, @meeting), :method => :put do
                .form-group
                  = label :meeting, :name, 'Meeting Name'
                  = text_field :meeting, 'name', :value => @meeting.name, class: 'form-control'
                  %br
                  = label :meeting, :date, 'Meeting Date'
                  = text_field :meeting, 'date', :value => @meeting.date, class: 'form-control'
                  %br
                  = label :meeting, :time, 'Meeting Time'
                  = text_field :meeting, 'time', :value => @meeting.time, class: 'form-control'
                  %br
                  = label :meeting, :location, 'Meeting Location'
                  = text_field :meeting, 'location', :value => @meeting.location, class: 'form-control'
                  %br
                  = label :meeting, :description, 'Meeting Description'
                  = text_field :meeting, 'description', :value => @meeting.description, class: 'form-control'
                  %br
                  = label :meeting, :agenda, 'Meeting Agenda'
                  = text_field :meeting, 'agenda', :value => @meeting.agenda, class: 'form-control'
                  %br
                  = label :meeting, :hangout, 'Meeting Hangout Link'
                  = text_field :meeting, 'hangout', :value => @meeting.hangout, class: 'form-control'
                  %br

                = submit_tag 'Update Meeting', class: 'btn btn-success'