%h1 Add New Meeting

.container.well
  #flashNotice= flash[:notice]
  = button_to meeting_index_path, :method => :get, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br

  = form_tag create_meeting_path do
    .form-group
      = label :meeting, :name, 'Meeting Name'
      = text_field :meeting, 'name', class: 'form-control'
      = label :meeting, :date, 'Meeting Date'
      = text_field :meeting, 'date', class: 'form-control'
      = label :meeting, :time, 'Meeting Time'
      = text_field :meeting, 'time', class: 'form-control'
      = label :meeting, :location, 'Meeting Location'
      = text_field :meeting, 'location', class: 'form-control'
      = label :meeting, :description, 'Meeting Description'
      = text_field :meeting, 'description', class: 'form-control'

    = submit_tag 'Submit', class: 'btn btn-success'