%div#committees
  %ul#sortable1
    - @committees.each do |committee|
      %table.table.table-striped.table-bordered{ :id => "committee_#{committee.id}" }
        %thead.bg-info
          %tr
            %th= link_to "#{committee.name}", edit_committee_path(committee.id)
            %th
              = button_to delete_committee_path(committee.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs hidden-xs' do
                %span.glyphicon.glyphicon-remove
                Delete #{committee.name}
              = button_to delete_committee_path(committee.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger visible-xs' do
                %span.glyphicon.glyphicon-remove
                