%div#committees
  %ul#sortable1
    - @committees.each do |committee|
      %table.table.table-striped.table-bordered{ :id => "committee_#{committee.id}" }
        %thead.bg-info
          %tr
            %th= link_to "#{committee.name}", edit_committee_path(committee.id)
            - if committee.hidden?
              %th
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "show"}, class: 'btn btn-info btn-xs hidden-xs' do
                  %span.glyphicon.glyphicon-eye-open
                  Show #{committee.name}
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "show"}, class: 'btn btn-info visible-xs' do
                  %span.glyphicon.glyphicon-eye-open
            - else 
              %th
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "hide"}, class: 'btn btn-warning btn-xs hidden-xs' do
                  %span.glyphicon.glyphicon-eye-close
                  Hide #{committee.name}
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "hide"}, class: 'btn btn-warning visible-xs' do
                  %span.glyphicon.glyphicon-eye-close

            - if committee.inactive?
              %th
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "active"}, class: 'btn btn-info btn-xs hidden-xs' do
                  %span.glyphicon.glyphicon-plus-sign
                  Activate #{committee.name}
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "active"}, class: 'btn btn-info visible-xs' do
                  %span.glyphicon.glyphicon-plus-sign
            - else 
              %th
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "inactive"}, class: 'btn btn-warning btn-xs hidden-xs' do
                  %span.glyphicon.glyphicon-minus-sign
                  Inactivate #{committee.name}
                = button_to action_committee_path(committee.id), method: :get, params: {do_action: "inactive"}, class: 'btn btn-warning visible-xs' do
                  %span.glyphicon.glyphicon-minus-sign


            %th
              = button_to crud_delete_committee_path(committee.id), :method => :delete, data: { confirm: 'Are you sure?' }, params: {do_action: "delete"}, class: 'btn btn-danger btn-xs hidden-xs' do
                %span.glyphicon.glyphicon-remove
                Delete #{committee.name}
              = button_to crud_delete_committee_path(committee.id), :method => :delete, data: { confirm: 'Are you sure?' }, params: {do_action: "delete"}, class: 'btn btn-danger visible-xs' do
                %span.glyphicon.glyphicon-remove
                