%div#categories
  %ul#sortable1
    - @committees.each do |category|
      %table.table.table-striped.table-bordered{ :id => "category_#{category.id}" }
        %thead.bg-info
          %tr
            %th= link_to "#{category.name}", edit_category_path(category.id)
            %th
              = button_to delete_category_path(category.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs hidden-xs' do
                %span.glyphicon.glyphicon-remove
                Delete #{category.name}
              = button_to delete_category_path(category.id), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger visible-xs' do
                %span.glyphicon.glyphicon-remove
                