%h1 Edit "#{@committee.name}"

.container.well
  #flashNotice= flash[:notice]
  =button_to committee_index_path, :method => :get, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br

    -#.form-group
      -#= label :committee, :name, 'Committee Name'
      -#= text_field :committee, 'name', :value => @committee.name, class: 'form-control'

      -#added the three lines below for the submit name change button
    -#= form_tag update_committee_path(:committee => @committee, :id => @committee.id), method: :put do
      -#.form-group
      -#= submit_tag 'Update Name', :class => "btn btn-success"

    = form_tag crud_update_committee_path(@id, @committee, do_action: "update"), :method => :put do
      .form-group
        = label :committee, :name, 'Committee Name'
        = text_field :committee, 'name', :value => @committee.name, class: 'form-control'
        %br
        = label :committee, :name, 'Committee Description'
        = text_field :committee, 'description', :value => @committee.description, class: 'form-control'

      = submit_tag 'Update Committee', class: 'btn btn-success'

    = form_tag update_committee_members_path, :method => :put do
      .form-group
        %br
        = label :user, :name, 'Add/Remove Users'
        %table.table.table-bordered.table-striped
          #announcement_content
            %thead
              %tr
                %th User
                %th Member
            %tbody
              - User.all.each do |user|
                %tr
                  %td= user.name
                  %td
                    = check_box_tag "check[#{user.id}]", 1, @committee.users.include?(user)
      = submit_tag 'Submit', class: 'btn btn-success'